*.iml
*/.idea/
*/.gitignore
*/mvnw
*/mvnw.cmd
*/.mvn
*/.svn
*/target
*/app/target/
*/*/target/
*/.classpath
*/.project
ffc/.settings/org.eclipse.core.resources.prefs
*/.settings/
*/*/.idea
*/*/*/.idea/
*/*/*/*/target/
